
$sidebar-header-height: $header-height;
$sidebar-menu-item-height: 30px;

.sidebar {
  width: 0;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0; bottom: 0;
  
  z-index: 50;

  @include simple-transition(width);

  .logo-app-name {
    height: $sidebar-header-height;
    width: $sidebar-width;

    display: flex;

    position: absolute;
    right: 0;
    
    padding: 10px;
    overflow: hidden;

    @include simple-transition(left);

    .logo {
      width: 42px;
      padding-right: 10px;
    }

    h1 {
      display: block;
      flex-grow: 1;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      margin: 0;
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  .sidebar-collapse-button {
    position: absolute;
    width: 34px;
    height: 39px;
    background: transparent;
    border: 0;
    top: 5px;
    left: 0;
    z-index: 55;

    @include simple-transition(left);

    button {
      display: block;
      position: absolute;
      background: transparent;
      border: 0;
      outline: 0;
      left: 0;
      right: 0;
      width: 100%;
      top: 0;
      bottom: 0;
      border-radius: 0 10px 10px 0;
    }
  }

  .menu {
    position: absolute;
    right: 0;
    top: $sidebar-header-height;
    width: $sidebar-width;

    ul {
      padding: 0;
      list-style: none;
      width: 100%;

      li {
        width: 100%;
        height: $sidebar-menu-item-height;
        position: relative;
        overflow: hidden;

        i.fa {
          display: block;
          position: absolute;
          left: 0; top: 0;
          width: $sidebar-icon-width;
          height: $sidebar-menu-item-height;
          line-height: $sidebar-menu-item-height;
          text-align: center;
          z-index: 1;
        }

        span {
          z-index: 0;
          display: block;
          position: absolute;
          right: 0; top: 0;
          width: $sidebar-width;
          height: $sidebar-menu-item-height;
          padding-left: $sidebar-icon-width;
          line-height: $sidebar-menu-item-height;
        }
      }
    }
  }

  [data-sidebar-state=open] & {
    width: $sidebar-width;

    .sidebar-collapse-button {
      left: $sidebar-width - 39px;
    }
  }
}