$transition-length: 0.2s;

@mixin simple-transition($transitions...) {
  $result: ();

  @each $property in $transitions {
    $result: append($result, ($property $transition-length), comma);
  }

  @include raw-transition($result);
}

@mixin raw-transition($result) {
  -o-transition: $result;
  -moz-transition: $result;
  -webkit-transition: $result;
  transition: $result;
}