/* 
 *= require normalize
 *= require icons.css
 */

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.header {
  position: fixed;
  left: 220px;
  right: 0;
  height: 30px;
}